/* stylelint-disable */

.box-headings-type-1 {
  background-color: #004b7f;
  color: White;
  padding: 0.5rem;
}

.box-headings-type-2 {
  background-color: #3d5265;
  color: white;
  padding: 0.5rem;
}

//Call to action styles

.block.call-to-action {
  .ui.button.improving {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: #007b6c;
    color: white;

    &:hover {
      background-color: #007b6c;
      color: white;
    }
  }

  .ui.button.deteriotating {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: #b83230;
    color: white;

    &:hover {
      background-color: #b83230;
      color: white;
    }
  }

  .ui.button.no-trend {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: #bcbec0;
    color: black;

    &:hover {
      background-color: #bcbec0;
      color: black;
    }
  }

  .ui.button.stable {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: #ff9933;
    color: black;

    &:hover {
      background-color: #ff9933;
      color: black;
    }
  }
}
